    @charset "UTF-8";


    body {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-image: linear-gradient(to right, green, yellowgreen);

    }

    p {

        text-align: justify;
        color: #365539;
        
    }

    main {

        background-color: aliceblue;
        width: 600px;
        padding: 10px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgb(0, 33, 0);
    }   

    h1 {
        color: #365539;
    }
    h2 {
        color: #527656;
    }