@charset "UTF-8";

/*  Mobile devices – 320px — 480px.
    iPads, Tablets – 481px — 768px.
    Small screens, laptops – 769px — 1024px.
    Desktops, large screens – 1025px — 1200px.
    Extra large screens, TV – 1201px, and more*/

    @media screen and (min-width:768px) and (max-width:992px){  /*versao para tablet
        @media A declaração e sequida de uma lista de condicoes como 'min-width' ,'max-width'
        ex tela for maior ou igual a 768px*/
            
        body {
            background-image: url(/imagens/back-tablet.jpg);  /*imagem de fundo*/
        }

        img#phone{
            display: none;   /*foi feito id para cada icon neste caso utilizamos o display para desabilitar o icon
             */
        }
        img#tablet{
            display: block;  /*De acordo com a versao utiilizamos o display block para habilitar o icon de acordo com a versao tablet*/
        }
        
    }

    @media screen and (min-width:990px)  {
        
            body{
                background-image: url(/imagens/back-pc.jpg);
            }
            img#phone{
                display: none;
            }
            img#pc {
                display: block;
            }
}

  @media screen and (min-width:1200px)  {
          
    body{

        background-image: url(/imagens/back-tv.jpg);
         }

         img#pc  {

            display: none;
            
         }
         img#tv{
            display:block
         }
    }

   